/mushroom.sublime-workspace
/bin
/build/*.*
*.o
*.d
*.so
redis-log*
*.pid
*.a
*.pb
3rd\pbc\build\*.*
main
start
StressTest
3rd/pbc/build/decode
3rd/pbc/build/addressbook
3rd/pbc/build/float
3rd/pbc/build/map
3rd/pbc/build/pattern
3rd/pbc/build/pbc
3rd/pbc/build/test
etc/clustername.lua
*.xcuserstate
etc/redis/redis-cli
etc/redis/redis-server
